GroundCommand.pro.user
GroundCommand.pro.user.*
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/.qmake.stash
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/Makefile
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/Makefile.Debug
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/Makefile.Release
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/Settings.ini
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/GroundCommand.exe
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/GroundCommand.ilk
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/GroundCommand.pdb
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/GroundCommand.vc.pdb
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/autosettings.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/crc32.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/filesystemtaskbase.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/filesystemwidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/firmwaretaskbase.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/firmwarewidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/generalcontroltaskbase.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/generalcontrolwidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/liconfigtaskbase.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/liconfigwidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/lowlevelterminal.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/main.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/mainwindow.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_autosettings.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_autosettings.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_filesystemtaskbase.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_filesystemtaskbase.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_filesystemwidget.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_filesystemwidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_firmwaretaskbase.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_firmwaretaskbase.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_firmwarewidget.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_firmwarewidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_generalcontroltaskbase.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_generalcontroltaskbase.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_generalcontrolwidget.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_generalcontrolwidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_liconfigtaskbase.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_liconfigtaskbase.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_liconfigwidget.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_liconfigwidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_lowlevelterminal.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_lowlevelterminal.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_mainwindow.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_mainwindow.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_modemprotocols.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_modemprotocols.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_modemwidget.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_modemwidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_predefs.h
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskauthentication.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskauthentication.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskbase.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskbase.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskcalibrateutc.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskcalibrateutc.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskdelete.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskdelete.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskdownloadfile.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskdownloadfile.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskenableupdatehousekeepingdata.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskenableupdatehousekeepingdata.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskgetalldescs.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskgetalldescs.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskgetfilecrc32.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskgetfilecrc32.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskligetconfig.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskligetconfig.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_tasklisetconfig.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_tasklisetconfig.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskping.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskping.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskremovefile.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskremovefile.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskresetgeneralconfig.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskresetgeneralconfig.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskresetmicrocontroller.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskresetmicrocontroller.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_tasksetstandard.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_tasksetstandard.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_tasksubmodulesetpower.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_tasksubmodulesetpower.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_tasksubmodulesetreset.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_tasksubmodulesetreset.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskuploadfile.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskuploadfile.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskwrite.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_taskwrite.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_telemetrygeneralstatuswidget.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_telemetrygeneralstatuswidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_telemetrypullwidget.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_telemetrypullwidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_telemetrywholeorbitdatawidget.cpp
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_telemetrywholeorbitdatawidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/modemprotocols.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/modemwidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskauthentication.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskbase.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskcalibrateutc.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskdelete.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskdownloadfile.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskenableupdatehousekeepingdata.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskgetalldescs.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskgetfilecrc32.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskligetconfig.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/tasklisetconfig.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskping.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskremovefile.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskresetgeneralconfig.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskresetmicrocontroller.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/tasksetstandard.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/tasksubmodulesetpower.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/tasksubmodulesetreset.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskuploadfile.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/taskwrite.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/telemetrygeneralstatuswidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/telemetryprotocols.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/telemetrypullwidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/telemetrywholeorbitdatawidget.obj
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/Debug-20201007-151709.txt
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/Debug-20201007-152025.txt
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/Debug-20201007-194906.txt
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/Debug-20201007-201820.txt
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/GeneralStatusData-20201007-151710.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/GeneralStatusData-20201007-152025.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/GeneralStatusData-20201007-194906.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/GeneralStatusData-20201007-201820.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemPayloadTRX-20201007-151710.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemPayloadTRX-20201007-152025.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemPayloadTRX-20201007-194906.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemPayloadTRX-20201007-201820.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemRawRX-20201007-151710.bin
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemRawRX-20201007-152025.bin
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemRawRX-20201007-194906.bin
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemRawRX-20201007-201820.bin
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemRawTX-20201007-151710.bin
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemRawTX-20201007-152025.bin
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemRawTX-20201007-194906.bin
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/ModemRawTX-20201007-201820.bin
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/WholeOrbitData-20201007-151710.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/WholeOrbitData-20201007-152025.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/WholeOrbitData-20201007-194906.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/logs/WholeOrbitData-20201007-201820.xml
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/ui_filesystemwidget.h
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/ui_firmwarewidget.h
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/ui_generalcontrolwidget.h
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/ui_liconfigwidget.h
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/ui_lowlevelterminal.h
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/ui_mainwindow.h
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/ui_modemwidget.h
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/ui_telemetrygeneralstatuswidget.h
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/ui_telemetrypullwidget.h
/build-GroundCommand-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/ui_telemetrywholeorbitdatawidget.h
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/.qmake.stash
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/Makefile
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/Makefile.Debug
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/Makefile.Release
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/controller.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/main.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_controller.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_controller.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_model.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_model.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_predefs.h
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_settings.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_settings.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_spacecraft.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/moc_spacecraft.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/model.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/qrc_resource-graphic.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/qrc_resource-graphic.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/qrc_resource-qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/qrc_resource-qml.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/settings.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/somp2_adcs.exe
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/somp2_adcs.ilk
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/somp2_adcs.pdb
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/somp2_adcs.vc.pdb
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/somp2_adcs_resource.res
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/spacecraft.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/somp2_adcs_resource.rc
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/.qmake.stash
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/Makefile
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/Makefile.Debug
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/Makefile.Release
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/main.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/qmlcache_loader.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/qmlcache_loader.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/qrc_resource-graphic.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/qrc_resource-graphic.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/qrc_resource_qml_qmlcache.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/qrc_resource_qml_qmlcache.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/resource_qml_Main3D_qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/resource_qml_Main3D_qml.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/resource_qml_MainWindow_qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/resource_qml_MainWindow_qml.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/somp2_adcs.exe
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/somp2_adcs.pdb
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/somp2_adcs.vc.pdb
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/release/somp2_adcs_resource.res
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/resource_qml_qmlcache.qrc
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Profile/somp2_adcs_resource.rc
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/.qmake.stash
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/Makefile
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/Makefile.Debug
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/Makefile.Release
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/main.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/qmlcache_loader.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/qmlcache_loader.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/qrc_resource-graphic.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/qrc_resource-graphic.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/qrc_resource_qml_qmlcache.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/qrc_resource_qml_qmlcache.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/resource_qml_Earth_qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/resource_qml_Earth_qml.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/resource_qml_Main3D_qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/resource_qml_Main3D_qml.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/resource_qml_MainWindow_qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/resource_qml_MainWindow_qml.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/resource_qml_Planet_qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/resource_qml_Planet_qml.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/somp2_adcs.exe
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/release/somp2_adcs_resource.res
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/resource_qml_qmlcache.qrc
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/somp2_adcs_resource.rc
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/.qmake.stash
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/Makefile
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/Makefile.Debug
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/Makefile.Release
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/controller.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/main.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/mainwindow.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_controller.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_controller.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_model.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_model.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_predefs.h
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_settings.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_settings.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_spacecraft.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_spacecraft.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_tle.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_tle.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/model.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/qrc_resource-graphic.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/qrc_resource-graphic.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/qrc_resource-qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/qrc_resource-qml.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/settings.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/somp2_adcs.exe
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/somp2_adcs_resource_res.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/spacecraft.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/tle.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/object_script.somp2_adcs.Debug
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/object_script.somp2_adcs.Release
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/somp2_adcs_resource.rc
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/ui_mainwindow.h
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/userstheolgappdatalocaltemptmp7ccaoq
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/userstheolgappdatalocaltemptmpb6anl6
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/userstheolgappdatalocaltemptmpj1ukpu
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/userstheolgappdatalocaltemptmpkwxyzn
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/userstheolgappdatalocaltemptmpnwonot
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/userstheolgappdatalocaltemptmppvb46w
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/userstheolgappdatalocaltemptmpqlyqbz
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/userstheolgappdatalocaltemptmpxbadzc
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/userstheolgappdatalocaltemptmpxwjbpw
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/.qmake.stash
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/Makefile
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/Makefile.Debug
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/Makefile.Release
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/main.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/qmlcache_loader.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/qmlcache_loader.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/qrc_resource-graphic.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/qrc_resource-graphic.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/qrc_resource_qml_qmlcache.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/qrc_resource_qml_qmlcache.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/resource_qml_Main3D_qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/resource_qml_Main3D_qml.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/resource_qml_MainWindow_qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/resource_qml_MainWindow_qml.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/somp2_adcs.exe
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/somp2_adcs.exe.debug
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/release/somp2_adcs_resource_res.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/resource_qml_qmlcache.qrc
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Profile/somp2_adcs_resource.rc
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/.qmake.stash
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/Makefile
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/Makefile.Debug
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/Makefile.Release
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/main.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/mainwindow.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_mainwindow.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_mainwindow.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/qmlcache_loader.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/qmlcache_loader.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/qrc_resource-graphic.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/qrc_resource-graphic.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/qrc_resource_qml_qmlcache.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/qrc_resource_qml_qmlcache.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/resource_qml_Main3D_qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/resource_qml_Main3D_qml.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/resource_qml_MainWindow_qml.cpp
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/resource_qml_MainWindow_qml.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/somp2_adcs.exe
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/somp2_adcs_resource_res.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/resource_qml_qmlcache.qrc
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/somp2_adcs_resource.rc
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Release/ui_mainwindow.h
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/qrc_resource-graphic.tmp.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/qrc_resource-qml.tmp.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/qrc_resource-graphic.tmp.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/debug/qrc_resource-qml.tmp.obj
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/CoordGeodetic.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/CoordTopocentric.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/DateTime.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/DecayedException.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/Eci.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/Globals.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/Observer.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/OrbitalElements.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/SGP4-VER.TLE
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/SGP4.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/SatelliteException.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/SolarPosition.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/TimeSpan.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/TleException.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/Util.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/Vector.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/passpredict.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/runtest.o
/build-somp2_adcs-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/sattrack.o
/Somp_data_loader/build/MinGW/debug
/Somp_data_loader/build/MinGW/release
/Somp_data_loader/build/MSVC/debug
/Somp_data_loader/build/MSVC/release
release
download
